
*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


.main-cintenar{
    margin: 0px 50px;
}

.header-area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:50px 50px 0px 50px ;
    background-color: #177d89;
    padding: 30PX;
}
h3{
    margin: 0;
    font-size: 20px;
    color: white;

}
.logo img{
    margin-right: 200px;
}
.side-text{
    margin-left: 100px;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 5px;
}
h4{
    margin: 0;
    font-size: 14px;
    color: white;
}
span{
    color:rgb(232, 255, 255);
}
.top-section{
    background-color: #074b60;
    padding: 20px;
}
.top-area {
    border: 2px solid white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    width: 150px;
    
}

.top-area2 {
    border: 2px solid white;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 3px;
    width: 450px;
}

#table {

    border-collapse: collapse;
    width: 100%;
  }
  
 #table th, #table td {
    border: 1px solid gray;
    padding: 5px;
  }
  
  #table tr:nth-child(even){background-color: #bdd2d4;}
  
  #table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #074b60 ;
    color: white;
  }
  .body-text{
    
      margin-top: 20px;
      border: 2px solid gray;
      border-radius: 5px;
      padding: 10px;
  }
  .button{
      padding: 10px 20px;
      color: white;
      background-color: #074b60;
      border: 2px solid gray;
      border-radius: 5px;
      font-size: 15px;
  }
  .button:hover{
      color: black;
      background-color:#bdd2d4 ;
  }

  @media (max-width: 700px) {
    .header-area{
        display: flex;
        align-items: center;
    }
    .logo img{
        margin-right: 0px;
        width: 75%;
    }
    h3{
        font-size: 10px;
    }
    .side-text{
        margin-left: 0px;
        padding: 5px 15px;
        border: 1px solid white;
        border-radius: 3px;
        
     
    }
 
    #table {

        border-collapse: collapse;
        width: 100%;
        overflow-x: hidden;
        display: block;
      }

      .top-area2 {
        border: 2px solid white;
        padding: 10px;
        margin-bottom: 30px;
        border-radius: 3px;
        width: 100%;
    }
    .down-section{
        width: 90%;
    }
   
  }